/**
 * style for blocks
 */


/* home slider */
/* front product/services */
/* home intro */
/* contact pull */
/* footer menu */

/* media queries */




/* ==================== */
/* home slider */
/* ==================== */

.flexslider {
	padding: 0;
	margin: 0 -10px;
	border: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.flexslider .slides img {
	width: 100%;
}

.flex-direction-nav a {
	width: 38px;
	height: 60px;
	margin-top: -30px;
	background: transparent url(../../images/icon-arrow-L.png) center center no-repeat;
}
.flex-direction-nav a.flex-prev {
	left: 5%;
	background-image: url(../../images/icon-arrow-L.png);
}
.flex-direction-nav a.flex-next {
	right: 5%;
	background-image: url(../../images/icon-arrow-R.png);
	background-position: center center;
}

.flex-control-nav {
	display: none;
}

.block-front-slider {
	margin: 0;
}


/* ==================== */
/* front product/services */
/* ==================== */

.block-front-product,
.block-front-services {
	text-align: center;
}

.block-front-product .views-row {
	clear: both;
}

.block-front-product .views-field-title {
	font-size: 24px;
}




/* ==================== */
/* home intro */
/* ==================== */

.block-home-intro {
	overflow: hidden;
	margin: 0 -10px 15px;
	background: #184e79 url(../../images/bg-about.jpg) center center no-repeat;
}

.block-home-intro .block-inner {
	overflow: hidden;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 1.33em;
	margin-top: 20px;
	padding: 75px 15px 0;
	background: transparent url(../../images/icon-circle-white.png) center top no-repeat;
}



/* ==================== */
/* contact pull */
/* ==================== */

.block-pull-panel {
	display: none; /* hide at page loading */
	position: fixed;
	right: 0;
	top: 75%;
	padding-right: 30px;
	background-color: #4eae32;
}

.feedback_simple-right {
	text-indent: -9999px;
	width: 67px !important;
	height: 87px !important;
	background: transparent url(../../images/button-contact.png) 0 0 no-repeat;
}

.feedback_simple-right.active {
	right: 229px;
}


/* ==================== */
/* footer menu */
/* ==================== */

.region-footer {
	overflow: hidden;
	padding: 10px;
}

.block-footer-menu {
	font-size: 13px;
	color: #c0e1fc;
}

.block-footer-menu .block__title {
	font-size: 20px;
	text-transform: uppercase;
}




/* ==================== */
/* media queries */
/* ==================== */


/* tablet or above style */

@media screen and (min-width: 768px) {

	/* front product/services */

	.block-front-product,
	.block-front-services {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		text-align: left;
	}

	.block-front-product .views-field-title {
		padding-top: 30px;
	}

	.block-front-product .views-field-field-image {
		float: left;
		margin-right: 40px;
	}

	.block-home-intro .block-inner {
		font-size: 18px;
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
		padding: 105px 40px 30px;
		background-position: center 30px;
	}
	
	/* footer */

	.region-footer {
		padding: 45px 0;
	}

	.block-footer-menu {
		float: left;
		padding: 0 5px;
		width: 33.33%;
	}
}


