/**
 * style for blocks
 */


/* home slider */
/* footer menu */

/* media queries */




/* ==================== */
/* home slider */
/* ==================== */

.flexslider {
	padding: 0;
	margin: 0 -10px;
	border: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.flexslider .slides img {
	width: 100%;
}

.flex-direction-nav a {
	width: 38px;
	height: 60px;
	margin-top: -30px;
	background: transparent url(../../images/icon-arrow-L.png) center center no-repeat;
}
.flex-direction-nav a.flex-prev {
	left: 5%;
	background-image: url(../../images/icon-arrow-L.png);
}
.flex-direction-nav a.flex-next {
	right: 5%;
	background-image: url(../../images/icon-arrow-R.png);
	background-position: center center;
}




/* ==================== */
/* footer menu */
/* ==================== */

.region-footer {
	overflow: hidden;
	padding: 10px;
}

.block-footer-menu {
	font-size: 13px;
	color: #c0e1fc;
}

.block-footer-menu .block__title {
	font-size: 20px;
	text-transform: uppercase;
}




/* ==================== */
/* media queries */
/* ==================== */


/* tablet or above style */

@media screen and (min-width: 768px) {
	
	/* footer */

	.region-footer {
		padding: 45px 0;
	}

	.block-footer-menu {
		float: left;
		padding: 0 5px;
		width: 33.33%;
	}
}


