/**
 * style for pages
 */


/* common */

/* media queries */




/* ==================== */
/* common */
/* ==================== */

.header-inner,
.main-inner,
.footer-inner {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.header-inner {
	padding-top: 10px;
	position: relative;
}

.main-inner {
	padding: 10px;
}

.header__logo {
	float: left;
}

.header__region {
	clear: none;
}

#header {
	background-color: #fff;
}

#main {
	background: transparent url(../../images/bg-gradient.jpg) center top no-repeat;
	background-size: 100% auto;
}

.region-footer {
	color: #fff;
	background-color: #267bc0;
}

body.admin-menu {
	padding-top: 55px;
}

/* nav */

.block-main-nav {
	margin-top: 20px;
}

.block-main-nav .menu,
.block-main-nav .menu .menu__item {
	list-style: none;
	list-style-image: none;
}

.block-main-nav .menu {
	padding: 0;
	margin: 0;
	text-align: right;
}

.block-main-nav .menu .menu__item {
	color: #58595b;
	font-size: 16px;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 5px;
}

.block-main-nav .menu .menu__item a {
	color: #58595b;
	padding: 5px 10px;
}

.header__secondary-menu {
	position: absolute;
	top: 10px;
	right: 0;
}



/* ==================== */
/* media queries */
/* ==================== */


/* tablet or above style */

@media screen and (min-width: 768px) {

	.header-inner {
		padding-top: 25px;
	}
	
	/* product detail */

	.main-inner {
		padding-top: 30px;
		padding-bottom: 80px;
	}
	
}


