/**
 * style for pages
 */


/* common */

/* media queries */




/* ==================== */
/* common */
/* ==================== */

.header-inner,
.main-inner,
.footer-inner {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.main-inner {
	padding: 10px;
}

#main {
	background: transparent url(../../images/bg-gradient.jpg) center top no-repeat;
	background-size: 100% auto;
}

.region-footer {
	color: #fff;
	background-color: #267bc0;
}

/* nav */

.block-menu ul,
.block-menu ul li {
	list-style: none;
	list-style-image: none;
}

.block-menu ul {
	padding: 0;
	margin: 0;
	text-align: right;
}

.block-menu ul li {
	color: #58595b;
	font-size: 16px;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 5px;
}

.block-menu ul li a {
	color: #58595b;
	padding: 5px 10px;
}




/* ==================== */
/* media queries */
/* ==================== */


/* tablet or above style */

@media screen and (min-width: 768px) {
	
	/* product detail */

	.main-inner {
		padding-top: 30px;
	}
	
}


